<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="stylesheet" href="style.css" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Teko:600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:200" rel="stylesheet">
	<script src="nui://game/ui/jquery.js" type="text/javascript"></script>
	<script src="./script.js" type="text/javascript"></script>
</head>
<body>
	<div id="disclaimer">
		<div class="overlay"></div>


 
		<div class="contenair left">
			<div class="spacer">&nbsp;</div>
			
			<div class="newsblock"></div>

			<div class="footerbox">				
				<center>
					<h4>Vous pouvez vous aussi faire la promotion de votre entreprise:</h4>
					<h4 class="font-up">Pour tout renseignement, composez le 0666 12 45 78</h4>
				</center>
			</div>
		</div>



		<div class="contenair right">
			<div class="spacer">&nbsp;</div>
			
			<div class="newsblock"></div>
			
			<div class="footerbox">				
				<center>
					<h4>Vous pouvez vous aussi faire la promotion de votre entreprise:</h4>
					<h4 class="font-up">Pour tout renseignement, composez le 0666 12 45 78</h4>
				</center>
			</div>
		</div>



	</div>
</body>