
/*-------------- Déclaration des polices non standard utilisées -------------- */

*{
  margin: 0;
  padding: 0;
}

#disclaimer{
  display: none;
}

#disclaimer h1{
	margin: 0;
	padding: 0;
	color: #59ab6d;
	font-family: 'Teko', sans-serif;
	font-size: 1.3em;
	-webkit-font-smoothing: antialiased;
    margin: 0 3px;
}
	
#disclaimer h2{
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Work Sans', sans-serif;
	font-size: 0.9em;
	-webkit-font-smoothing: antialiased;
    margin: 0 3px 12px;
}

#disclaimer h4{
	margin: 0;
	padding: 0;
	color: #42c2ed;
	font-family: 'Teko', sans-serif;
	font-size: 0.6em;
	-webkit-font-smoothing: antialiased;
    margin: 0;
}

#disclaimer h3{
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Work Sans', sans-serif;
	font-size: 0.7em;
	-webkit-font-smoothing: antialiased;
    margin: 3px;
}

#disclaimer p{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
    margin: 0 3px 3px;
}

#disclaimer p.imp {
	color: #fff;
	font-size: 0.5em;
	text-align: left;
	margin: auto;
	-webkit-font-smoothing: antialiased;
}


/*--------------  DIV principale du "disclaimer" -------------- */

   
#disclaimer .overlay{
	position:fixed;
	z-index: 1;    
	width: 100%;					
	height:100%;					
	margin: 0;    					
	text-align: center;
	background: #000;				
	opacity: 0.40; 									 
}

/*--------------  DIV principale du "disclaimer" -------------- */

   
#disclaimer .contenair{	
	position:absolute;
	z-index: 3;    
	width: 300px;									
	height:550px;									
	top:50%;										
	margin:0;    					
	margin-top:-275px;    					
	text-align: center;			
	padding: none; 			
	opacity: 0.9;
}
#disclaimer .contenair.left{	
	background: url('img/bg-facebook-news.png');									
	left:3%;
}	
#disclaimer .contenair.right{	
	background: url('img/bg-facebook-pubs.png');									
	right:3%;
}	
#disclaimer .vote-iframe{	
    position: fixed;
    z-index: 2;									
	padding: 0;
	margin: -375px 0 0 -441px;
	top: 50%;
	left: 50%;
    height: 750px;
    width: 882px;
}	
#disclaimer .vote-iframe iframe{
	width: 100%;
	height: 100%;
}	
#disclaimer .vote-iframe button.back{
	width: 150px;
	height: 50px;
	background-color: #333;
	color: #ccc;
	position: absolute;
	top: 0;
	left: 50%;
	margin: -60px 0 0 -75px;
	
	display: none;
}	
#disclaimer .vote-iframe h1{
	width: 882px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
	color: #F33;
	position: absolute;
	top: 10px;
	left: 50%;
	margin: 0 0 0 -441px;
	font-size: 50px;
	
}	
	
/*-------------- DIV contenant les textes du disclaimer --------------*/


#disclaimer .newsblock{
    z-index: 2;
    width: 100%;
    height: 310px;
	overflow: hidden;
}
/*
#disclaimer .left .newsblock .innerbox:first-child{
    animation: 10s linear slideNews infinite;
}

#disclaimer .right .newsblock .innerbox:first-child{
    animation: 10s linear slidePubs infinite;
}*/

.anim-off{
    animation: none !important;
}
	
#disclaimer .innerbox{
	z-index: 2;
	width: 252px;	
	padding: 0 24px;
	padding-bottom: 0;
	text-align: left;
	background: transparent;
	-webkit-font-smoothing: antialiased;
}
	
#disclaimer .innerbox img{
	width: 100%;
	margin-bottom: 20px;
}
	
#disclaimer .spacer{
	z-index: 2;
	width: 100%;
	height: 173px;
    margin: 0;  
	text-align: left;
    background: transparent;	
}

#disclaimer .footerbox h1{
	margin-top: 5px;
}

#disclaimer .footerbox{
    z-index: 2;
    width: 252px;
    text-align: center;
    position: absolute;
    bottom: 25px;
    left: 24px;
}
	
.font-up{
	font-size: 0.8em!important;
}





/*
@keyframes slideNews{
    from {
		margin-top: 0px;
	}
    10% {
		margin-top: 0px;
	}
    98% {
		margin-top: -100px;
	}
    to {
		margin-top: 0px;
	}
}

@keyframes slidePubs{
    from {
		margin-top: 0px;
	}
    10% {
		margin-top: 0px;
	}
    98% {
		margin-top: -100px;
	}
    to {
		margin-top: 0px;
	}
}*/