@font-face {
  font-family: bankgothic;
  src: url('../fonts/bankgothic.ttf');
}

@font-face {
  font-family: pcdown;
  src: url('../fonts/pdown.ttf');
}
.menu {
  font-family: Oswald;  
  width      : 446px;
  color      : #fff;
  box-shadow : 0px 0px 50px 0px #000;
  position   : absolute;
}

.menu.align-top-right {
  right: 10;
  top  : 40;
}

.menu.align-right {
  right: 40;
  top  : 50%;
  transform: translate(0, -50%); 
}

.menu.align-bottom-right {
  right : 40;
  bottom: 40;
}

.menu.align-bottom {
  left  : 50%;
  bottom: 40;
  transform: translate(-50%, 0); 
}

.menu.align-bottom-left {
  left  : 40;
  bottom: 40;
}

.menu.align-center {
  left : 50%;
  top  : 50%;
  transform: translate(-50%, -50%); 
}

.menu .head {
  font-family: 'Open Sans', sans-serif;
  text-align      : center;
  height          : 100px;
  line-height     : 96px;
  display: block;
  color: #1A1A1A;
  box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
  -webkit-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
  -moz-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
  -o-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
  box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.4);
  font-size: 32px;
  cursor: pointer;
  background-image:url(https://cdn.discordapp.com/attachments/422542582858645517/422556298534453248/taxi2.png)
}

.menu .menu-items {
  max-height : 600px;
  overflow-y : auto;
}

.menu .menu-items .menu-item {
  height          : 40px;
  display         : block;
  background      : rgba( 0, 0, 0, 0.8);  -- couleur de fond du menu --
  box-shadow      : inset 1px 0px 0px 0.7px #070000;
  height          : 32px;
  line-height     : 32px;
  color           : rgba(255, 255, 255, 1);
  text-align      : center;
}

.menu .menu-items .menu-item.selected {
  font-weight:bold;
  font-size: large;
  background-color: #000000;
  background:rgba(145, 145, 145, 0.8);  -- couleur de selection --
  color: black
  border:1px 1px;
  -moz-transition: all .5s; 
  -webkit-transition: all .5s; 
  -o-transition: all .5s; 
  transition: all .5s;
  line-height: 20px;
}