<style>

	.app {
		display: none;
		background-image: url('img/tablet.png');
		background-size: 100%;

		position:absolute;
		left:0; right:0;
		top:0; bottom:0;
		margin: auto;
	
		height: 843px;
		width: 566px;
		overflow: hidden;
	
	}
	
	#screen {
	
		position:absolute;
		left:0; right:0;
		top:11; bottom:0;
		margin: auto;
	
		height: 685px;
		width: 425px;
		overflow:auto;
	}
	
	#banner {
		background-image: url('img/header.png');
		background-color: red;
		height: 132px;
	}
	
	body {
		
		height: 100%;
	}
	
	textarea {
		
		width: 100%;
		
	}
	
	.editor {
		
		width: 100%;
		
	}
	
	
	</style>
	
	<head>
		<script src="nui://game/ui/jquery.js" type="text/javascript"></script>
		<script src="scripts.js" type="text/javascript"></script>
		<script src="debounce.min.js" type="text/javascript"></script>
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="styles.css" type="text/css">
	</head>
	
	<body>
		<div class = "app">
		
				
				<div class = "w3-w" id = "screen">
				
					<div class = "w3-container" id = "banner">
					</div>
					
					<div class = "editor w3-container w3-white">

						<br>
						<div class "radiolife w3-white">
							<b>Profession:</b><br>
							<input id = "police" type="radio" name="type" value="police" checked> Police <br>
							<input id = "ambulance" type="radio" name="type" value="ambulance" checked> Ambulance <br>
							<input id = "journalist" type="radio" name="type" value="journalist" checked> Journaliste <br>
							<input id = "mechanic" type="radio" name="type" value="mechanic" checked> Mécano <br>
							<input id = "realestate" type="radio" name="type" value="realestate" checked> Agent immo <br>
							<input id = "taxi" type="radio" name="type" value="taxi" checked> Taxi <br>
							<input id = "epicerie" type="radio" name="type" value="epicerie" checked> Epicerie <br>
							<input id = "bahamas" type="radio" name="type" value="bahamas" checked> Bahamas <br>
							<input id = "unicorn" type="radio" name="type" value="unicorn" checked> Unicorn <br>
							<input id = "lawler" type="radio" name="type" value="lawler" checked> Juge <br>
							<input id = "avocat" type="radio" name="type" value="avocat" checked> Avocat <br>
							<br>
						</div>
						
						<b>Numéro de Telephone</b>
						<textarea class = "phone w3-white" rows="1" placeholder="0665965952"></textarea>
						<br>
						<br>
						
						<b>Licenses</b>
						<textarea class = "licenses w3-white" rows="1" placeholder="Quel permis as tu ?"></textarea>
						<br>
						<br>
						
						<b>Experiences pro</b>
						<textarea class = "exp w3-white" rows="20" placeholder="Quel est ton experience avec cette profession?"></textarea>
						<br>
						<br>

						<b>Ton adresse IP - est retenue pour confirmer ton identitée , une recherche sera faite dans les casier de la ville avant ton acceptation.</b><br>
						<br>
						
						<button class="w3-button w3-green w3-left btnSend">Apply</button>
						<button class="w3-button w3-red w3-left btnClose">Cancel</button>
						
					</div>
					
					
				</div></div>	
	</body>