@font-face {
    font-family: "Roboto";
    src: url("Roboto.ttf");
}

#trainercontainer {
    position: absolute;
    right: 200px;
    top: 100px;
}

p {
    font-family: "Roboto";
}

.traineroption {
    display: flex;
    align-items: center;
    font-size: 17px;
    margin: 4px;
    color: white;
    height: 40px;
    width: 350;
    background: rgba(0, 0, 0, 0.6);
    margin-top: -4px;
    padding-left: 5px;
}

.traineroption.trainertitle {
    justify-content: center;
	text-align: center;
    font-size: 21px;
    height: 65px;
    background: rgba(255, 64, 64, 0.8);
    text-shadow: 0 0 3px #e04040;
}

.traineroption.trainertitle:after {
    margin-left: 0;
    margin-right: 0;
}

.traineroption:after {
    content: attr(data-state);
    margin-left: auto;
    margin-right: 10px;
}

.traineroption.selected {
    background: rgba(0, 255, 247, 1);
    color: rgba(255, 0, 0, 1);
}

.traineroption.selected:after {
    content: attr(data-state);
}

.information {
    display: flex;
    align-items: center;
    font-size: 17px;
    margin: 4px;
    color: black;
    height: 40px;
    width: 350;
    background: rgba(255, 255, 255, 0.6);
    margin-top: -4px;
    padding-left: 5px;
}

#pageindicator {
    font-size: 15px;
    text-align: center;
    color: black;
}